<div>
    <div class="col-9">
        <div class="display-4">
            <!-- {{orders.price}} -->
            Restaurant Location: {{orders.menus[0].restaurant.restaurantName}}
        </div>
        <ul class="mt-2 nav nav-tabs">
            <li class="nav-item">
                <a [ngClass]="{'nav-link':true, active:isTabSelected(1)}" (click)="handleTabChange($event,1)" class="nav-link">Items Ordered</a>
            </li>
            <li class="nav-item">
                <a [ngClass]="{'nav-link':true, active:isTabSelected(2)}" (click)="handleTabChange($event,2)" class="nav-link">Delivery Address</a>
            </li>
        </ul>
        <ng-container *ngIf="isTabSelected(1)" class="display-6">
            <div class="display-6" *ngFor="let order of orders.menus | keyvalue; let idx=index">
                {{order.value.dishName}}
            </div>
        </ng-container>
        <div *ngIf="isTabSelected(2)" class="display-6">
            <p>Address: {{orders.user.address}}</p>
            <p>Phone Number: {{orders.user.phoneNumber}}</p>
        </div>
        <button (click)="acceptOrder()" type="button" class="btn btn-primary mt-2">Accept</button>
        
    </div>
</div>
