<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height: 100%">
    <span>Food To Go</span>
    <hr/>
    <div class="mt-2">
        <ul class="nav nav-pills flex-column mb-auto mt-2">
            <li><a [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['accepted-order']">View Accepted Order</a></li>
            <li><a [routerLink]="['delivered-orders']">View Delivered Orders</a></li>
            <!-- <li><a [routerLink]="['/cart']">View Approved Orders</a></li>
            <li><a [routerLink]="['/cart']">View Denied Orders</a></li>
            <li><a [routerLink]="['/cart']">View Completed Orders</a></li> -->
        </ul>
    </div>
    <div class="mt-auto">
        <a href="#">Sign Out</a>
    </div>
</div>
